@page
@model Pop_Lucas_Lab2.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categories Index";
}

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.CategoryData.Categories)
        {
            <tr>
                <td>
                    <a asp-page="./Index" asp-route-id="@category.ID">@category.CategoryName</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CategoryData.Books != null && Model.CategoryData.Books.Any())
{
    <h3>Books in Selected Category</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.CategoryData.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}
